@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

@media only screen and (min-width: 300px) {
    nav {
        box-shadow: 0px 1px 4px rgb(158, 158, 158);
        padding: 1em 0.5em;
        background-color: rgb(250, 250, 250);
        ul{
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 0.5em;
            }

            li > * {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
    main {
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;


        .circle {
            height: 17em;
            width: 17em;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 4px rgb(158, 158, 158);
            background-color: rgb(250, 250, 250);
        }
        h4, h1 {
            text-align: center;
            margin: 0.5em 0;
        }

        h1 {
            text-shadow: 0px 1px 2px rgb(158, 158, 158);
        }
    }
    .inc-exp-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        border-radius: 8px;

        div {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 12em;
            background-color: rgb(250, 250, 250);
            border-radius: 8px;

            h4 ,p {
                margin: 0.2em;
            }
            .plus {
                color: rgb(56, 142, 60);
                font-weight: bold;
            }
            .minus {
                color: rgb(211, 47, 47);
                font-weight: bold;
            }
        }
    }
    .transactions {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;

        h3 {
            text-align: center;
            margin-bottom: 1em;
        }

        form {
            display: grid;
            div {
                display: grid;

                label {
                    text-align: left;
                    font-size: 15px;
                    margin: 0.5em 0;

                    .minus {
                        color: rgb(229, 115, 115);
                        font-weight: bold;
                    }
                    .plus {
                        color: rgb(129, 199, 132);
                        font-weight: bold;
                    }
                }
            }
        }
        
        input, button, .pajamos_islaidos, .kategorijos{
            margin: 0.5em 0;
            padding: 1em 0.5em;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
            text-align: center;
        }
        button {
            margin: 1em 0;
        }
    }
    .history {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;

        h3 {
            text-align: center;
        }

        ul > li {
            list-style: none;
            margin: 1em 0;
            padding: 0.5em;
            box-shadow: 0px 1px 2px rgb(158, 158, 158);
            background-color: rgb(238, 238, 238);
            border-radius: 4px;
            position: relative;
            display: flex;
            span {
                width: 50%;
                font-size: 12px;
            }
            button {
                position: absolute;
                right: 0;
                margin: 0 0.5em;
                width: 3em;
                border-radius: 4px;
                border: none;
                font-weight: bold;
                color: rgb(183, 28, 28);
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    nav {
        box-shadow: 0px 1px 4px rgb(158, 158, 158);
        padding: 1em 0.5em;
        background-color: rgb(250, 250, 250);
        ul{
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 0.5em;
            }

            li > * {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
    .container{
        display: flex;
        justify-content: center;
    }
    main {
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
            height: 17em;
            width: 17em;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 4px rgb(158, 158, 158);
            background-color: rgb(250, 250, 250);
        }
        h4, h1 {
            text-align: center;
            margin: 0.5em 0;
        }

        h1 {
            text-shadow: 0px 1px 2px rgb(158, 158, 158);
        }
    }
    .inc-exp-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        border-radius: 8px;

        div {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 12em;
            background-color: rgb(250, 250, 250);
            border-radius: 8px;

            h4 ,p {
                margin: 0.2em;
            }
            .plus {
                color: rgb(56, 142, 60);
                font-weight: bold;
            }
            .minus {
                color: rgb(211, 47, 47);
                font-weight: bold;
            }
        }
    }
    .transactions {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;
        width: 100%;

        h3 {
            text-align: center;
            margin-bottom: 1em;
        }

        form {
            display: grid;
            div {
                display: grid;

                label {
                    text-align: left;
                    font-size: 15px;
                    margin: 0.5em 0;

                    .minus {
                        color: rgb(229, 115, 115);
                        font-weight: bold;
                    }
                    .plus {
                        color: rgb(129, 199, 132);
                        font-weight: bold;
                    }
                }
            }
        }
        
        input, button {
            padding: 1em 0.5em;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
            text-align: center;
        }
        button {
            margin: 1em 0;
        }
    }
    .history {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;
        width: 100%;

        h3 {
            text-align: center;
        }

        ul > li {
            list-style: none;
            margin: 1em 0;
            padding: 0.5em;
            box-shadow: 0px 1px 2px rgb(158, 158, 158);
            background-color: rgb(238, 238, 238);
            border-radius: 4px;
            position: relative;
            display: flex;
            span {
                width: 50%;
                font-size: 12px;
                text-align: center;
            }
            button {
                position: absolute;
                right: 0;
                margin: 0 0.5em;
                width: 3em;
                border-radius: 4px;
                border: none;
                font-weight: bold;
                color: rgb(183, 28, 28);
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        box-shadow: 0px 1px 4px rgb(158, 158, 158);
        padding: 1em 0.5em;
        background-color: rgb(250, 250, 250);
        ul{
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 0.5em;
            }

            li > * {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
    .container{
        display: flex;
        justify-content: center;
    }
    main {
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
            height: 17em;
            width: 17em;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 4px rgb(158, 158, 158);
            background-color: rgb(250, 250, 250);
        }
        h4, h1 {
            text-align: center;
            margin: 0.5em 0;
        }

        h1 {
            text-shadow: 0px 1px 2px rgb(158, 158, 158);
        }
    }
    .inc-exp-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        border-radius: 8px;

        div {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 12em;
            background-color: rgb(250, 250, 250);
            border-radius: 8px;

            h4 ,p {
                margin: 0.2em;
            }
            .plus {
                color: rgb(56, 142, 60);
                font-weight: bold;
            }
            .minus {
                color: rgb(211, 47, 47);
                font-weight: bold;
            }
        }
    }
    .right{
        display: flex;
        width: 100%;
    }
    .transactions {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;
        width: 100%;

        h3 {
            text-align: center;
            margin-bottom: 1em;
        }

        form {
            display: grid;
            div {
                display: grid;

                label {
                    text-align: left;
                    font-size: 15px;
                    margin: 0.5em 0;

                    .minus {
                        color: rgb(229, 115, 115);
                        font-weight: bold;
                    }
                    .plus {
                        color: rgb(129, 199, 132);
                        font-weight: bold;
                    }
                }
            }
        }
        
        input, button {
            padding: 1em 0.5em;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
            text-align: center;
        }
        button {
            margin: 1em 0;
        }
    }
    .history {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;
        width: 100%;

        h3 {
            text-align: center;
        }

        ul > li {
            list-style: none;
            margin: 1em 0;
            padding: 0.5em;
            box-shadow: 0px 1px 2px rgb(158, 158, 158);
            background-color: rgb(238, 238, 238);
            border-radius: 4px;
            position: relative;
            display: flex;
            span {
                width: 50%;
                font-size: 12px;
            }
            button {
                position: absolute;
                right: 0;
                margin: 0 0.5em;
                width: 3em;
                border-radius: 4px;
                border: none;
                font-weight: bold;
                color: rgb(183, 28, 28);
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    nav {
        box-shadow: 0px 1px 4px rgb(158, 158, 158);
        padding: 1em 0.5em;
        background-color: rgb(250, 250, 250);
        ul{
            display: flex;
            justify-content: space-between;

            li {
                list-style: none;
                display: inline-block;
                margin: 0 0.5em;
            }

            li > * {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
    .container{
        display: flex;
        justify-content: center;
    }
    main {
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
            height: 17em;
            width: 17em;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 2px 4px rgb(158, 158, 158);
            background-color: rgb(250, 250, 250);
        }
        h4, h1 {
            text-align: center;
            margin: 0.5em 0;
        }

        h1 {
            text-shadow: 0px 1px 2px rgb(158, 158, 158);
        }
    }
    .inc-exp-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        border-radius: 8px;

        div {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 12em;
            background-color: rgb(250, 250, 250);
            border-radius: 8px;

            h4 ,p {
                margin: 0.2em;
            }
            .plus {
                color: rgb(56, 142, 60);
                font-weight: bold;
            }
            .minus {
                color: rgb(211, 47, 47);
                font-weight: bold;
            }
        }
    }
    .right{
        display: flex;
    }
    .transactions {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;
        width: 100%;

        h3 {
            text-align: center;
            margin-bottom: 1em;
        }

        form {
            display: grid;
            div {
                display: grid;

                label {
                    text-align: left;
                    font-size: 15px;
                    margin: 0.5em 0;

                    .minus {
                        color: rgb(229, 115, 115);
                        font-weight: bold;
                    }
                    .plus {
                        color: rgb(129, 199, 132);
                        font-weight: bold;
                    }
                }
            }
        }
        
        input, button {
            padding: 1em 0.5em;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
            text-align: center;
        }
        button {
            margin: 1em 0;
        }
    }
    .history {
        margin: 1em;
        padding: 1em;
        box-shadow: 0px 2px 4px rgb(158, 158, 158);
        background-color: rgb(250, 250, 250);
        border-radius: 8px;
        width: 100%;

        h3 {
            text-align: center;
        }

        ul > li {
            list-style: none;
            margin: 1em 0;
            padding: 0.5em;
            box-shadow: 0px 1px 2px rgb(158, 158, 158);
            background-color: rgb(238, 238, 238);
            border-radius: 4px;
            position: relative;
            display: flex;
            span {
                width: 50%;
                font-size: 12px;
            }
            button {
                position: absolute;
                right: 0;
                margin: 0 0.5em;
                width: 3em;
                border-radius: 4px;
                border: none;
                font-weight: bold;
                color: rgb(183, 28, 28);
            }
        }
    }
}
